doctype html
html
	body
		h2 Login

		form(method="POST", action="/login")
			label(for="username") Username:
			br
			input(type="text" id="username" name="username" value="")
			br
			label(for="password") Password:
			br
			input(type="password" id="password" name="password" value="")
			br
			input(type="submit", value="Login")
		form(method="GET", action="/signup")
			input(type="submit", value="Signup")

		

		div= errormessage